body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/71/Flag_of_Ethiopia.svg");
    background-color: #464646; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.gray {
    background-color: #464646;
    /* opacity: 10%; */
	cursor: default;
	padding: 1.75em 2em;
}
#placeholder {
    background-color: #464646;
}
table {
    border-collapse: collapse;
}
table th {
    text-align: left;
    background-color: blue;
    padding: 4px 30px 4px 8px;
    color: white;
}
table td {
    border: 1px solid black;
    padding: 4px;
}
table tr:nth-child(odd) td {
    background-color: bisque;
}